<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<div class="header-container">
    <header>
        <div class="menu">
            <div class="logo">
                <img src="#" alt="">
            </div>
            <div class="center">
                <a href="http://localhost:8080/bootstrap"><p class="text">Бутстрап форма</p></a>
                <a href="http://localhost:8080/index"><p class="text">Студенты</p></a>
                <p class="text">Новости</p>
                <p class="text">Медиабанк</p>
                <p class="text">Контакты</p>
            </div>
            <div class="right">
                <img class="logo1" src="img/Search.png" alt="">
                <div class="lang-select">
                    <img src="img/Globe.png" alt="">
                    <p class="text">English</p>
                </div>

            </div>
        </div>
        <hr>
    </header>
</div>

</body>
</html>